$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rockwell"; /* Имя шрифта */
  src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
  .footer {
    flex: 0 0 auto;
  }
}



iframe{
  display: block;
}
h1 {
  font-family: "Arsenal";
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 60px;
  color: #FFFFFF;
}
h2 {
  font-family: "Arsenal";
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 45px;
  text-align: center;
  color: #303030;
  span {
    color: #F54E60;
  }

}
.header_span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000000;
  padding-bottom: 20px;
  @media (max-width: 991px) {
    font-size: 1.4rem;
  }
}
.text_blue {
  color: $mainTextColor;
}
.header__line {
  position: relative;
  padding-bottom: 8px;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 120px;
    height: 4px;
    background-color: $mainTextColor;
    left: 50%;
    transform: translateX(-50%);
  }
}


