
.btn {
	background: linear-gradient(270deg, #DC143C 0%, #FF7F50 100%);
	border-radius: 100px;
	border: 0;
	padding: 10px 0px;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 21px;
	color: #FFFFFF;
	min-width: 170px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	background-size: 200% 200%;
	&:hover {
		color: #fff;
	}
	&.btn__flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}
	&.btn_services {
		display: block;
		position: relative;
		background: linear-gradient(270deg, #DC143C 0%, #FF7F50 100%);
		padding: 2px;
		max-width: 170px;
		overflow: hidden;
		.module {
			background: #fff;
			color: $mainTextColor;
			height: 40px;
			border-radius: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
a {
	&.btn {
		color: #FFFFFF;
	}
}
.btn_header {
	background: none;
	border: 0;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 14px;
	text-align: center;
	border-bottom: 1px solid $mainTextColor;
	color: $mainTextColor;
	padding: 0;
	padding-top: 8px;
	&:focus {
		outline: none;
	}
}

.btn_to_top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn_to_top_content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.btn_to_top_text {
		padding-top: 1rem;
		display: block;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0px;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}

.btn__calc {
	width: 270px;
}






