.footer {
	padding: 60px 0;
	background-color: #2E2D32;
	span {
		font-size: 18px;
		line-height: 120%;
		color: #FFFFFF;
		&.footer__header {
			font-weight: bold;
			padding-bottom: 24px;
		}
	}
	.social {
		@media (max-width: 991px) {
			justify-content: flex-start!important;
		}
	}
	.deksis {
		display: block;
		margin-top: 32px;
		@media (max-width: 991px) {
			justify-content: flex-start!important;
		}
	}
}
