doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

        title Project
    body
        div(id="cube-loader")
            div(class="caption")
                div(class="cube-loader")
                    div(class="cube loader-1")
                    div(class="cube loader-2")
                    div(class="cube loader-4")
                    div(class="cube loader-3")
        div(class="page")
            header(class="header")
                div(class="container")
                    div(class="row")
                        div(class="col-12")
                            nav(class="navigation")
                                a(href="#" class="logo")
                                    img(class="lazyload img-fluid" data-src="images/logo.svg" alt="logo")
                                    span(class="logo__header")
                                        | Эксперт
                                ul(class="d-none d-lg-flex")
                                    li
                                        a(href="#")
                                            | Главная
                                    li
                                        a(href="#")
                                            | Услуги
                                    li
                                        a(href="#")
                                            | Цены
                                    li
                                        a(href="#")
                                            | О компании
                                    li
                                        a(href="#")
                                            | Блог
                                    li
                                        a(href="#")
                                            | Контакты
                                    li(class="navigation__line")
                                div(class="d-none d-lg-flex flex-column align-items-end")
                                    div(class="header__phone__wrap")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.2732 0.960872L15.2107 0.0233716C14.7693 -0.0781909 14.3162 0.152278 14.1365 0.56634L12.2615 4.94134C12.0974 5.32415 12.2068 5.77337 12.531 6.03509L14.8982 7.97259C13.492 10.9687 11.0349 13.4609 7.97633 14.8945L6.03883 12.5273C5.7732 12.2031 5.32789 12.0937 4.94508 12.2577L0.570078 14.1327C0.15211 14.3163 -0.078359 14.7695 0.0232035 15.2109L0.960703 19.2734C1.05836 19.6952 1.43336 19.9999 1.87477 19.9999C11.8787 19.9999 19.9998 11.8945 19.9998 1.87493C19.9998 1.43743 19.699 1.05853 19.2732 0.960872Z" fill="#DC143C"/>
                                        </svg>
                                        a(href="telto:89000000000" class="header__phone")
                                            | 8 900 000 00 00
                                    button(class="btn_header")
                                        | Перезвоните мне
                                button(class="btn__menu d-lg-none")
                                    <svg id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')">
                                    <path class="line top"	d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                                    <path class="line middle" d="m 30,50 h 40" />
                                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                                    </svg>
            div(class="navigation__content d-flex align-items-center justify-content-center")
                div(class="navigation__wrap")
                    ul(class="navigation__menu")
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Главная
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Услуги
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Цены
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | О компании
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Блог
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Контакты
                        li(class="navigation__menu__item navigation__menu__phone")
                            a(href="telto:89000000000" class="header__phone")
                                | 8 900 000 00 00
            div(class="content")
                div(class="welcome__about")
                    div(class="container")
                        div(class="row")
                            div(class="col-12 pb-5")
                                h1(class="text-center header__line")
                                    | Бухгалтерская компания «Эксперт»
                        div(class="row")
                            div(class="col-12")
                                p(class="pb-3")
                                    | Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же укрепление и развитие структуры позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа дальнейших направлений развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.
                                p
                                    | Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                div(class="saving")
                    div(class="container")
                        div(class="row justify-content-end")
                            div(class="col-12 col-lg-6")
                                span(class="saving__header")
                                    | С нами вы экономите до 50%
                                p
                                    | По сравнению со штатным<br>бухгалтером в компании
                                span(class="saving__name")
                                    | Екатерина - учредитель компании
                                a(class="btn btn__flare" href="#")
                                    | Калькулятор стоимости
                    img(class="lazyload img-fluid saving__img" data-src="images/image3.png" alt="img")
                    img(class="lazyload img-fluid Ellipse" data-src="images/Group5.5.png" alt="img")
                div(class="HowWeAreWorking")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Как мы работаем
                        div(class="row")
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center wow flipInX" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working1.svg" alt="working img")
                                p
                                    | Оставляете заявку на сайте или по телефону
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center px-lg-0 wow flipInX" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working2.svg" alt="working img")
                                p
                                    | Мы бесплатно коснультируем Вас и производим расчёт стоимости услуг
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center wow flipInX" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working3.svg" alt="working img")
                                p
                                    | Заключаем договор
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center px-lg-0 wow flipInX" data-wow-duration="1s" data-wow-delay="2s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working4.svg" alt="working img")
                                p
                                    | Ведём весь учёт, сдаём отчёты, даём своевременные рекомендации
                div(class="team")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Наша команда
                        div(class="row")
                            div(class="col-6 col-sm-4 col-lg-2")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team1.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2  pt-sm-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team2.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-sm-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team3.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team4.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team5.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="1.2s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team6.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
    div(class="btn_to_top")
        div(class="btn_to_top_content d-flex justify-content-center align-items-center")
            <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
            </g>
            </svg>
    footer(class="footer")
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-lg-5 col-12 d-flex flex-column")
                    span(class="footer__header")
                        | Контакты
                    a(href="tel:+79655382102" class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/fa-solid_phone.svg" alt="img footer")
                        span(class="pl-3")
                            | +7 965 538 21 02
                    a(href="mail:ksenid@rambler.ru" class="my-4 d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/topcoat-email.svg" alt="img footer")
                        span(class="pl-3")
                            | ksenid@rambler.ru
                    div(class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/ic-baseline-place.svg" alt="img footer")
                        span(class="pl-3")
                            | 624200, Свердловская область,<br>г. Нижняя Тура, ул. Строителей, д. 10, офис 13
                div(class="col-12 col-lg-3 pt-5 pt-lg-0 px-lg-0")
                    div(class="social d-flex justify-content-end")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/uil-vk.svg" alt="img social")
                        a(href="#" class="mx-4")
                            img(class="lazyload img-fluid" data-src="images/uil-instagram-alt.svg" alt="img social")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/zmdi-twitter-box.svg" alt="img social")
                    a(class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/")
                        span(class="d-block pr-3")
                            | Создание сайта Deksis.ru
                        img(class="lazyload img-fluid" data-src="images/deksis.svg" alt="img")
    script(src="js/main.min.js")

