doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

        title Project
    body
        div(id="cube-loader")
            div(class="caption")
                div(class="cube-loader")
                    div(class="cube loader-1")
                    div(class="cube loader-2")
                    div(class="cube loader-4")
                    div(class="cube loader-3")
        div(class="page")
            header(class="header")
                div(class="container")
                    div(class="row")
                        div(class="col-12")
                            nav(class="navigation")
                                a(href="#" class="logo")
                                    img(class="lazyload img-fluid" data-src="images/logo.svg" alt="logo")
                                    span(class="logo__header")
                                        | Эксперт
                                ul(class="d-none d-lg-flex")
                                    li(class="active")
                                        a(href="#")
                                            | Главная
                                    li
                                        a(href="#")
                                            | Услуги
                                    li
                                        a(href="#")
                                            | Цены
                                    li
                                        a(href="#")
                                            | О компании
                                    li
                                        a(href="#")
                                            | Блог
                                    li
                                        a(href="#")
                                            | Контакты
                                    li(class="navigation__line")
                                div(class="d-none d-lg-flex flex-column align-items-end")
                                    div(class="header__phone__wrap")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.2732 0.960872L15.2107 0.0233716C14.7693 -0.0781909 14.3162 0.152278 14.1365 0.56634L12.2615 4.94134C12.0974 5.32415 12.2068 5.77337 12.531 6.03509L14.8982 7.97259C13.492 10.9687 11.0349 13.4609 7.97633 14.8945L6.03883 12.5273C5.7732 12.2031 5.32789 12.0937 4.94508 12.2577L0.570078 14.1327C0.15211 14.3163 -0.078359 14.7695 0.0232035 15.2109L0.960703 19.2734C1.05836 19.6952 1.43336 19.9999 1.87477 19.9999C11.8787 19.9999 19.9998 11.8945 19.9998 1.87493C19.9998 1.43743 19.699 1.05853 19.2732 0.960872Z" fill="#DC143C"/>
                                        </svg>
                                        a(href="telto:89000000000" class="header__phone")
                                            | 8 900 000 00 00
                                    button(class="btn_header" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
                                        | Перезвоните мне
                                button(class="btn__menu d-lg-none")
                                    <svg id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')">
                                    <path class="line top"	d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                                    <path class="line middle" d="m 30,50 h 40" />
                                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                                    </svg>
            div(class="navigation__content d-flex align-items-center justify-content-center")
                div(class="navigation__wrap")
                    ul(class="navigation__menu")
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Главная
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Услуги
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Цены
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | О компании
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Блог
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Контакты
                        li(class="navigation__menu__item navigation__menu__phone")
                            a(href="telto:89000000000" class="header__phone")
                                | 8 900 000 00 00
                        li(class="navigation__menu__item text-center")
                            button(class="btn_header" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
                                | Перезвоните мне
            div(class="content")
                div(class="breadcrumb_block")
                    div(class="container")
                        div(class="row")
                            div(class="col-12")
                                nav(aria-label="breadcrumb")
                                ol(class="breadcrumb")
                                    li(class="breadcrumb-item")
                                        a(href="#")
                                            | Главная
                                    li(class="breadcrumb-item")
                                        a(href="#")
                                            | Бухгалтерские услуги
                                    li(class="breadcrumb-item")
                                        | Калькулятор
                div(class="calc__block")
                    div(class="container")
                        div(class="row pb-5")
                            div(class="col-12 pb-5")
                                h1
                                    | Калькулятор стоимости ведения бухгалтерского учета
                        div(class="row")
                            div(class="col-12 col-lg-11 offset-lg-1")
                                form(class="calc" method="POST")
                                    div()
                                        span(class="calc__header")
                                            | Организационно-правовая форма
                                        div(class="calc__wrap")
                                            label(class="d-flex align-items-center")
                                                input(name="company" type="radio")
                                                span(class="input__radio")
                                                span(class="calc__name")
                                                    | ИП
                                            label(class="d-flex align-items-center pt-3")
                                                input(name="company" type="radio")
                                                span(class="input__radio")
                                                span(class="calc__name")
                                                    | ООО
                                    div(class="pt-5")
                                        span(class="calc__header")
                                            | Форма налогообложения
                                        div(class="calc__wrap")
                                            label(class="d-flex align-items-center")
                                                input(name="taxation" type="radio")
                                                span(class="input__radio")
                                                span(class="calc__name")
                                                    | ЕНДВ/Патент/УСН/ЕСХН
                                            label(class="d-flex align-items-center pt-3")
                                                input(name="taxation" type="radio")
                                                span(class="input__radio")
                                                span(class="calc__name")
                                                    | ОСНО
                                    div(class="py-5")
                                        span(class="calc__header")
                                            | Количество операций
                                        div(class="calc__wrap")
                                            div(id="count")
                                            input(type="text" id="count__first_input" readonly)
                                            div(class="count__digets count__first")
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item_first count__digets__item active")
                                                        | 0
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_10")
                                                        | 10
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_30")
                                                        | 30
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_50")
                                                        | 50
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_100")
                                                        | 100
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_150")
                                                        | 150
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_200")
                                                        | 200
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_250")
                                                        | 250
                                                        span
                                    div(class="py-5")
                                        span(class="calc__header")
                                            | Количество сотрудников
                                        div(class="calc__wrap")
                                            div(id="count__people")
                                            input(type="text" id="count__second_input" readonly)
                                            div(class="count__digets count__second")
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item_first count__digets__item active")
                                                        | 0
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_10")
                                                        | 10
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_30")
                                                        | 20
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_50")
                                                        | 30
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_100")
                                                        | 40
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_150")
                                                        | 50
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_200")
                                                        | 60
                                                        span
                                                div(class="count__digets_wrap")
                                                    div(class="count__digets__item count__digets__item_250")
                                                        i(class="fix")
                                                            | 0
                                                        | 70
                                                        span
                                    div(class="py-5")
                                        button(class="btn btn__flare btn__calc mt-5")
                                            | Рассчитать
                                    div(class="price__final pt-5")
                                        span(class="price__final__header")
                                            | Итого:
                                        span(class="price__final__digest")
                                            | 3 500 ₽
                    div(class="container py-5")
                        div(class="row")
                            div(class="col-12")
                                ul(class="nav nav-tabs" id="myTab" role="tablist")
                                    li(class="nav-item")
                                        a(class="nav-link active" id="q1-tab" data-toggle="tab" href="#q1" role="tab" aria-controls="q1" aria-selected="true")
                                            | Калькулятор пеней по налогам
                                    li(class="nav-item")
                                        a(class="nav-link " id="q2-tab" data-toggle="tab" href="#q2" role="tab" aria-controls="q2" aria-selected="false")
                                            | Калькулятор НДФЛ
                                    li(class="nav-item")
                                        a(class="nav-link " id="q3-tab" data-toggle="tab" href="#q3" role="tab" aria-controls="q3" aria-selected="false")
                                            | Калькулятор НДС
                                    li(class="nav-item")
                                        a(class="nav-link " id="q4-tab" data-toggle="tab" href="#q4" role="tab" aria-controls="q4" aria-selected="false")
                                            | Калькулятор УСН
                                div(class="tab-content" id="myTabContent")
                                    div(class="tab-pane fade show active" id="q1" role="tabpanel" aria-labelledby="q1-tab")
                                        form(class="form calc__form")
                                            h2(class="pb-4")
                                                | Калькулятор по налогам, сборам и взносам
                                            div(class="d-flex justify-content-between w-75 align-items-center")
                                                span
                                                    | Дата уплаты, установленная законодательством
                                                input(type="date" class="ml-2" name="firstDate")
                                            div(class="d-flex justify-content-between w-75 my-4 align-items-center")
                                                span
                                                    | Дата фактической уплаты задолженности
                                                input(type="date" class="ml-2" name="secondDate")
                                            div(class="d-flex justify-content-between w-75 align-items-center tab-content_rub")
                                                span
                                                    | Сумма недоимки
                                                input(type="number" min="0" class="ml-2 " name="amount")
                                            div(class="d-flex pt-4")
                                                table
                                                    tr
                                                        td
                                                            span
                                                                | Результат
                                                        td(class="pl-3")
                                                            span(id="result")
                                                                | 0
                                                        td(class="pl-1")
                                                            span
                                                                | руб.
                                            div(class=" w-50 d-flex justify-content-center pt-5")
                                                button(type="submit" class="btn btn__flare")
                                                    | Рассчитать
                                    div(class="tab-pane fade  py-4" id="q2" role="tabpanel" aria-labelledby="q2-tab")
                                        span(class="tab-content__header")
                                            | Калькулятор НДФЛ (13%), (Количество детей 0)
                                        form(class="form form_ndfl")
                                            h2(class="pb-4")
                                                | 1. Вариант если известна сумма с НДФЛ
                                            div(class="d-flex justify-content-start w-75 align-items-center")
                                                span(class="item__first")
                                                    | Ставка НДФЛ
                                                div(class="calc ")
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="tax" type="radio" value="13" checked)
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | 13% (налоговый резидент РФ)
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="tax" type="radio" value="30")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | 30% (налоговый нерезидент РФ)
                                            div(class="d-flex justify-content-start w-75 my-4 align-items-center")
                                                span(class="item__first")
                                                     | Сумма с НДФЛ
                                                input(type="number" min="0" class="mx-3" name="ndfl" )
                                                span
                                                    | руб.
                                            div(class="d-flex justify-content-start w-75 my-4  align-items-center")
                                                span(class="item__first")
                                                    | Сумма налога
                                                input(type="number" min="0" class="mx-3 " name="summa" )
                                                span
                                                    | руб.
                                            div(class="d-flex justify-content-start w-75 my-4  align-items-center")
                                                span(class="item__first")
                                                    | Сумма без НДФЛ
                                                input(type="number" min="0" class="mx-3 " name="notNdfl" )
                                                span
                                                    | руб.
                                            div(class="d-flex justify-content-start w-75 align-items-center")
                                                span(class="item__first")
                                                    | Количество детей
                                                select(name="countChild")
                                                    option(value="0")
                                                        | нет детей
                                                    option(value="1")
                                                        | 1
                                                    option(value="2")
                                                        | 2
                                                    option(value="3")
                                                        | 3
                                                    option(value="4")
                                                        | 4
                                    div(class="tab-pane fade" id="q3" role="tabpanel" aria-labelledby="q3-tab")
                                        div(class="form form_ndc")
                                            h2(class="pb-4")
                                                | Калькулятор расчета НДС онлайн
                                            div(class="d-flex justify-content-start w-75 align-items-center")
                                                span(class="item__first")
                                                    | Сумма
                                                input(type="number" min="0" class="mx-3" name="digets")
                                            div(class="d-flex justify-content-start w-75 my-4 align-items-center")
                                                span(class="item__first")
                                                    | Ставка НДС
                                                select(name="precent")
                                                    option
                                                        | 20%
                                                    option
                                                        | 18%
                                                    option
                                                        | 10%
                                            div(class=" w-50 d-flex justify-content-center pt-5")
                                                button(class="btn btn__flare btn_form_ndc" data-type="+")
                                                    | + Начислить НДС
                                                button(class="btn btn__flare ml-4 btn_form_ndc" data-type="-")
                                                    | - Выделить НДС
                                            table(class="d-block pt-3")
                                                tr
                                                    td(class="pt-2")
                                                        span(id="form_ndc_first_p")
                                                            | Сумма без НДС
                                                    td(class="pl-3")
                                                        span(id="form_ndc_first")
                                                            | 0
                                                    td(class="pl-1")
                                                        span
                                                            | руб.
                                                tr
                                                    td(class="pt-2")
                                                        span(id="form_ndc_second_p")
                                                            | НДС 20%
                                                    td(class="pl-3")
                                                        span(id="form_ndc_second")
                                                            | 0
                                                    td(class="pl-1")
                                                        span
                                                            | руб.
                                                tr
                                                    td(class="pt-2")
                                                        span(id="form_ndc_third_p")
                                                            | Сумма с НДС
                                                    td(class="pl-3")
                                                        span(id="form_ndc_third")
                                                            | 0
                                                    td(class="pl-1")
                                                        span
                                                            | руб.
                                    div(class="tab-pane fade  " id="q4" role="tabpanel" aria-labelledby="q4-tab")
                                        h2(class="pb-4")
                                            | Калькулятор расчета УСН онлайн
                                        form(class="form form_ycn")
                                            div(class="d-flex ")
                                                div(class="d-flex flex-column justify-content-start w-75 my-4 align-items-start calc")
                                                    span(class="item__first")
                                                        | Расчет налога за:
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="quarter" type="radio" value="3" checked)
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | 1 квартал
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="quarter" type="radio" value="6")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | полугодие
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="quarter" type="radio" value="9")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | 9 месяцев
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="quarter" type="radio" value="12")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | год
                                                div(class="d-flex flex-column justify-content-start w-75 my-4 align-items-start calc")
                                                    span(class="item__first")
                                                        | Кто вы:
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="whoareyou" type="radio" value="0" checked)
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | ИП без работников
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="whoareyou" type="radio" value="1")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | ООО или с работнками
                                                div(class="d-flex flex-column justify-content-start w-75 my-4 align-items-start calc")
                                                    span(class="item__first")
                                                        | Объект налогообложения:
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="precenttwo" type="radio" value="6" checked)
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | Доходы
                                                    label(class="d-flex align-items-center py-2")
                                                        input(name="precenttwo" type="radio" value="15")
                                                        span(class="input__radio")
                                                        span(class="calc__name")
                                                            | Доходы-расходы
                                            div(class=" w-50 d-flex justify-content-center pt-5")
                                                button(class="btn btn__flare" )
                                                    | Расчитать
                                            table(class="form res_table")
                                                tr
                                                    td
                                                        | Период
                                                    td
                                                        | Доходы
                                                    
                                                    td(class="input_res_table_first")
                                                        span(class="")
                                                            | Расходы <br>(страховые взносы)
                                                    td(class="input_res_table_second active")
                                                        span(class=" ")
                                                            | Страховые взносы (уплаченные страховые взносы за ИП и за сотрудников, а также суммы по больничным за счет работодателя)
                                                    td
                                                        | Платеж по налогу
                                                tr(class="row__kv active")
                                                    td
                                                        | 1 квартал
                                                    td
                                                        input(type="text" name="kv1_1" value="0")
                                                    td(class="input_res_table_first")
                                                        input(type="text" class="" name="kv_spe_1" value="0")
                                                    td(class="input_res_table_second active")
                                                        input(type="text" name="kv1_2" value="0")
                                                    
                                                    td
                                                        input(type="text" name="kv1_3" readonly )
                                                tr(class="row__kv")
                                                    td
                                                        | 2 квартал
                                                    td
                                                        input(type="text" name="kv2_1" disabled value="0")
                                                    td(class="input_res_table_first")
                                                        input(type="text" class="" name="kv_spe_2" value="0")
                                                    td(class="input_res_table_second active")
                                                        input(type="text" name="kv2_2" disabled value="0")
                                                    
                                                    td
                                                        input(type="text" name="kv2_3" disabled readonly )
                                                tr(class="row__kv")
                                                    td
                                                        | 3 квартал
                                                    td
                                                        input(type="text" name="kv3_1" disabled value="0")
                                                    td(class="input_res_table_first")
                                                        input(type="text" class="" name="kv_spe_3" value="0")
                                                    td(class="input_res_table_second active")
                                                        input(type="text" name="kv3_2" disabled value="0")
                                                    
                                                    td
                                                        input(type="text" name="kv3_3" disabled readonly )
                                                tr(class="row__kv")
                                                    td
                                                        | 4 квартал
                                                    td
                                                        input(type="text" name="kv4_1" disabled value="0")
                                                    td(class="input_res_table_first")
                                                        input(type="text" class="" name="kv_spe_4" value="0")
                                                    td(class="input_res_table_second active")
                                                        input(type="text" name="kv4_2" disabled value="0")
                                                    
                                                    td
                                                        input(type="text" name="kv4_3" disabled readonly )
                                                tr
                                                    td
                                                        | Итого:
                                                    td
                                                    td(class="input_res_table_second active")
                                                    td(class="input_res_table_first")
                                                    td(class="result")
                                                        | 0
    div(class="modal fade" id="ndcplus" tabindex="-1" role="dialog" aria-labelledby="ndcplusTitle" aria-hidden="true")
        div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Начислить НДС
                div(class="modal-body")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | Сумма с НДС
                        spam(class="mx-3")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | НДС %
                        spam(class="mx-3")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | Сумма без НДС
                        spam(class="mx-3")
    div(class="modal fade" id="ndcminus" tabindex="-1" role="dialog" aria-labelledby="ndcminusTitle" aria-hidden="true")
        div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Выделить НДС
                div(class="modal-body")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | Сумма с НДС
                        spam(class="mx-3")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | НДС %
                        spam(class="mx-3")
                    div(class="d-flex justify-content-start w-75 align-items-center")
                        span(class="item__first")
                            | Сумма без НДС
                        spam(class="mx-3")


    div(class="modal fade" id="modalWrite" tabindex="-1" role="dialog" aria-labelledby="modalCWriteTitle" aria-hidden="true")
        div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
            div(class="modal-content")
                div(class="d-flex justify-content-end")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                            | &times;
                div(class="modal-body")
                    form(class="form")
                        input(type="text" class="mb-4 mt-3" placeholder="Имя*")
                        input(type="tel" class="mb-4" placeholder="Телефон*")
                        div(class="d-flex align-items-start justify-content-center py-3")
                            label(class="m-0")
                                input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
                                span(for="checkbox" class="checkbox__label")
                            p( class="form__info")
                                | Я согласен на обработку персональных данных в соответствие с
                                a(href="#" class="form__info")
                                    | политикой конфиденциальности
                        div(class="d-flex justify-content-center w-100")
                            button(class="btn btn__flare" type="submit" )
                                | Оставить заявку
    div(class="btn_to_top")
        div(class="btn_to_top_content d-flex justify-content-center align-items-center")
            <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
            </g>
            </svg>
    footer(class="footer")
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-lg-5 col-12 d-flex flex-column")
                    span(class="footer__header")
                        | Контакты
                    a(href="tel:+79655382102" class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/fa-solid_phone.svg" alt="img footer")
                        span(class="pl-3")
                            | +7 965 538 21 02
                    a(href="mail:ksenid@rambler.ru" class="my-4 d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/topcoat-email.svg" alt="img footer")
                        span(class="pl-3")
                            | ksenid@rambler.ru
                    div(class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/ic-baseline-place.svg" alt="img footer")
                        span(class="pl-3")
                            | 624200, Свердловская область,<br>г. Нижняя Тура, ул. Строителей, д. 10, офис 13
                div(class="col-12 col-lg-3 pt-5 pt-lg-0 px-lg-0")
                    div(class="social d-flex justify-content-end")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/uil-vk.svg" alt="img social")
                        a(href="#" class="mx-4")
                            img(class="lazyload img-fluid" data-src="images/uil-instagram-alt.svg" alt="img social")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/zmdi-twitter-box.svg" alt="img social")
                    a(class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/")
                        span(class="d-block pr-3")
                            | Создание сайта Deksis.ru
                        img(class="lazyload img-fluid" data-src="images/deksis.svg" alt="img")
    script(src="js/main.min.js")

