doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

        title Project
    body
        div(id="cube-loader")
            div(class="caption")
                div(class="cube-loader")
                    div(class="cube loader-1")
                    div(class="cube loader-2")
                    div(class="cube loader-4")
                    div(class="cube loader-3")
        div(class="page")
            header(class="header")
                div(class="container")
                    div(class="row")
                        div(class="col-12")
                            nav(class="navigation")
                                a(href="#" class="logo")
                                    img(class="lazyload img-fluid" data-src="images/logo.svg" alt="logo")
                                    span(class="logo__header")
                                        | Эксперт
                                ul(class="d-none d-lg-flex")
                                    li
                                        a(href="#")
                                            | Главная
                                    li
                                        a(href="#")
                                            | Услуги
                                    li
                                        a(href="#")
                                            | Цены
                                    li
                                        a(href="#")
                                            | О компании
                                    li
                                        a(href="#")
                                            | Блог
                                    li
                                        a(href="#")
                                            | Контакты
                                    li(class="navigation__line")
                                div(class="d-none d-lg-flex flex-column align-items-end")
                                    div(class="header__phone__wrap")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.2732 0.960872L15.2107 0.0233716C14.7693 -0.0781909 14.3162 0.152278 14.1365 0.56634L12.2615 4.94134C12.0974 5.32415 12.2068 5.77337 12.531 6.03509L14.8982 7.97259C13.492 10.9687 11.0349 13.4609 7.97633 14.8945L6.03883 12.5273C5.7732 12.2031 5.32789 12.0937 4.94508 12.2577L0.570078 14.1327C0.15211 14.3163 -0.078359 14.7695 0.0232035 15.2109L0.960703 19.2734C1.05836 19.6952 1.43336 19.9999 1.87477 19.9999C11.8787 19.9999 19.9998 11.8945 19.9998 1.87493C19.9998 1.43743 19.699 1.05853 19.2732 0.960872Z" fill="#DC143C"/>
                                        </svg>
                                        a(href="telto:89000000000" class="header__phone")
                                            | 8 900 000 00 00
                                    button(class="btn_header" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
                                        | Перезвоните мне
                                button(class="btn__menu d-lg-none")
                                    <svg id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')">
                                    <path class="line top"	d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                                    <path class="line middle" d="m 30,50 h 40" />
                                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                                    </svg>
            div(class="navigation__content d-flex align-items-center justify-content-center")
                div(class="navigation__wrap")
                    ul(class="navigation__menu")
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Главная
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Услуги
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Цены
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | О компании
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Блог
                        li(class="navigation__menu__item")
                            a(href="#" class="navigation__menu__link")
                                | Контакты
                        li(class="navigation__menu__item navigation__menu__phone")
                            a(href="telto:89000000000" class="header__phone")
                                | 8 900 000 00 00
                        li(class="navigation__menu__item text-center")
                            button(class="btn_header" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
                                | Перезвоните мне
            div(class="content")
                div(class="welcome d-flex align-items-center")
                    div(class="container")
                        div(class="row")
                            div(class="col-lg-6 pr-lg-0")
                                h1
                                    | Бухгалтерские<br>и юридические услуги
                                span()
                                    | Равным образом реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития.
                                button(class="btn btn__flare" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа v.2")
                                    | Оставить заявку
                div(class="services")
                    div(class="container")
                        div(class="row justify-content-center")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Наши услуги
                        div(class="row justify-content-center pt-5")
                            div(class="col-12 col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                div(class="services__item services__item_1")
                                    div(class="services__wrap")
                                        span(class="services__header")
                                            | Бухгалтерские услуги
                                        p(class="services__description")
                                            | Краткое описание услуг, для наглядности просмотра информации
                                        a(class="btn btn_services btn__flare" href="#")
                                            div(class="module")
                                                | Подробнее
                            div(class="col-12 col-lg-5 pt-5 pt-lg-0 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                div(class="services__item services__item_2")
                                    div(class="services__wrap")
                                        span(class="services__header")
                                            | Бухгалтерские услуги
                                        p(class="services__description")
                                            | Краткое описание услуг, для наглядности просмотра информации
                                        a(class="btn btn_services btn__flare" href="#")
                                            div(class="module")
                                                | Подробнее
                            div(class="col-12 col-lg-5 pt-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                div(class="services__item services__item_3")
                                    div(class="services__wrap")
                                        span(class="services__header")
                                            | Бухгалтерские услуги
                                        p(class="services__description")
                                            | Краткое описание услуг, для наглядности просмотра информации
                                        a(class="btn btn_services btn__flare" href="#")
                                            div(class="module")
                                                | Подробнее
                            div(class="col-12 col-lg-5 pt-5 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                div(class="services__item services__item_4")
                                    div(class="services__wrap")
                                        span(class="services__header")
                                            | Бухгалтерские услуги
                                        p(class="services__description")
                                            | Краткое описание услуг, для наглядности просмотра информации
                                        a(class="btn btn_services btn__flare" href="#")
                                            div(class="module")
                                                | Подробнее
                div(class="shift")
                    div(class="container")
                        div(class="row")
                            div(class="col-12 col-lg-6")
                                h2
                                    | Переложите проблемы с бухгалтерией и налоговой на нас
                                form(class="form")
                                    input(type="text" placeholder="Имя*")
                                    input(type="text" placeholder="Телефон*" class="my-4")
                                    button(class="btn btn__flare wow bounceIn" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10" type="submit")
                                        | Записаться
                div(class="HowWeAreWorking")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Как мы работаем
                        div(class="row")
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center wow flipInX" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working1.svg" alt="working img")
                                p
                                    | Оставляете заявку на сайте или по телефону
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center px-lg-0 wow flipInX" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working2.svg" alt="working img")
                                p
                                    | Мы бесплатно коснультируем Вас и производим расчёт стоимости услуг
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center wow flipInX" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working3.svg" alt="working img")
                                p
                                    | Заключаем договор
                            div(class="col-6 col-lg-3 d-flex pt-5 flex-column align-items-center px-lg-0 wow flipInX" data-wow-duration="1s" data-wow-delay="2s" data-wow-offset="10")
                                img(class="lazyload img-fluid" data-src="images/working4.svg" alt="working img")
                                p
                                    | Ведём весь учёт, сдаём отчёты, даём своевременные рекомендации
                div(class="blog")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Блог
                        div(class="row pt-5")
                            div(class="col-12 col-lg-4 wow pulse" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="10")
                                a(class="blog__item" href="#")
                                    img(class="lazyload img-fluid" data-src="images/blog1.png" alt="blog img")
                                    div(class="blog__content")
                                        h3()
                                            | Название статьи
                                        p()
                                            | Равным образом реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.
                                        button(class="btn_header")
                                            | Подробнее
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0 wow pulse" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="10")
                                a(class="blog__item" href="#")
                                    img(class="lazyload img-fluid" data-src="images/blog2.png" alt="blog img")
                                    div(class="blog__content")
                                        h3()
                                            | Название статьи
                                        p()
                                            | Равным образом реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.
                                        button(class="btn_header")
                                            | Подробнее
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0 wow pulse" data-wow-duration="1s" data-wow-delay="2s" data-wow-offset="10")
                                a(class="blog__item" href="#")
                                    img(class="lazyload img-fluid" data-src="images/blog3.png" alt="blog img")
                                    div(class="blog__content")
                                        h3()
                                            | Название статьи
                                        p()
                                            | Равным образом реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.
                                        button(class="btn_header")
                                            | Подробнее
                        div(class="row pt-5")
                            div(class="col-12 d-flex justify-content-center pt-3")
                                a(class="btn btn__flare wow bounceIn" href="#" data-wow-duration="1s" data-wow-delay="2s" data-wow-offset="10")
                                    | Перейти в блог
                div(class="team")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Наша команда
                        div(class="row")
                            div(class="col-6 col-sm-4 col-lg-2")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team1.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2  pt-sm-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team2.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-sm-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team3.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team4.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team5.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                            div(class="col-6 col-sm-4 col-lg-2 pt-5 pt-lg-0")
                                div(class="team__item wow slideInDown" data-wow-duration="1s" data-wow-delay="1.2s" data-wow-offset="10")
                                    img(class="lazyload img-fluid" data-src="images/team6.png" alt="img team")
                                    h3
                                        | Имя Фамилия
                                    p
                                        | Должность
                div(class="feedback")
                    img(class="lazyload img-fluid feedback__img_left" data-src="images/ce.png" alt="img")
                    img(class="lazyload img-fluid feedback__img_right" data-src="images/ce2.png" alt="img")
                    div(class="container")
                        div(class="row pb-5")
                            div(class="col-12 wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                h2(class="header__line")
                                    | Отзывы
                        div(class="row justify-content-center d-none d-lg-flex")
                            div(class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center")
                                div(class="carousel-container")
                                    div(class="carousel-main" id="carousel")
                                        div(class="carousel-feature bg-1")
                                            a(href="#")
                                                img(class="carousel-image" alt="featureCarousel-1" width="570" height="340" src="images/foto_1_640x640.jpg")
                                        div(class="carousel-feature bg-2")
                                            a(href="#")
                                                img(class="carousel-image" alt="featureCarousel-2" width="570" height="340" src="images/foto_1_640x640.jpg")
                                        div(class="carousel-feature bg-3")
                                            a(href="#")
                                                img(class="carousel-image" alt="featureCarousel-3" width="570" height="340" src="images/foto_1_640x640.jpg")
                                    p(class="slider__arrows")
                                        div(id="carousel-left")
                                            img(class="lazyload img-fluid" data-src="images/Arrow.svg" alt="img")
                                        div(id="carousel-right")
                                            img(class="lazyload img-fluid" data-src="images/Arrow.svg" alt="img")
                        div(class="row d-flex d-lg-none")
                            div(class="col-12")
                                div(id="carouselExampleControls" class="carousel slide" data-ride="carousel")
                                    div(class="carousel-inner")
                                        div(class="carousel-item active")
                                            img(src="images/foto_1_640x640.jpg" class="d-block w-100" alt="img")
                                        div(class="carousel-item")
                                            img(src="images/foto_1_640x640.jpg" class="d-block w-100" alt="img")
                                        div(class="carousel-item")
                                            img(src="images/foto_1_640x640.jpg" class="d-block w-100" alt="img")
                                    a(class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev")
                                        img(class="lazyload img-fluid" data-src="images/Arrow.svg" alt="img")
                                    a(class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next")
                                        img(class="lazyload img-fluid" data-src="images/Arrow.svg" alt="img")
                        div(class="row pt-5 pt-lg-0")
                            div(class="col-12 d-flex justify-content-center")
                                button(class="btn btn__flare wow bounceIn" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10" type="submit" data-toggle="modal" data-target="#modalCall" data-whatever="@слайдер")
                                    | Оставить отзыв
                div(class="problems")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 col-lg-6 problems__first d-flex align-items-start wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                span
                                    | 5
                                h2(class="")
                                    | проблем<br>со штатными бухгалтерами
                        div(class="row justify-content-center pt-5")
                            div(class="col-12 col-lg-4")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="10")
                                    h3
                                        | Ответственность<br>лежит на вас
                                    p
                                        | Ответственность за правильность бухучёта и уплату налогов лежит на вас, ведь в налоговых декларациях нет даже подписи главбуха
                                    span
                                        | 01
                                    img(class="lazyload img-fluid" data-src="images/problems1.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
                                    h3
                                        | Может уволиться<br>или шантажировать
                                    p
                                        | Бухгалтер может уволиться и оставить вас решать его проблемы с налоговыми органами сделать бухгалтерскую базу предметом шантажа и навлечь много других бед
                                    span
                                        | 02
                                    img(class="lazyload img-fluid" data-src="images/problems2.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.9s" data-wow-offset="10")
                                    h3
                                        | Тяжело оценить<br>уровень бухгалтера
                                    p
                                        | Подобные проблемы случаются потому, что руководителю трудно оценить профессиональный уровень бухгалтера при приёме на работу
                                    span
                                        | 03
                                    img(class="lazyload img-fluid" data-src="images/problems3.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="1.2s" data-wow-offset="10")
                                    h3
                                        | Трудно нанять<br>хорошего бухгалтера
                                    p
                                        | Небольшой или молодой компании трудно нанять хорошего бухгалтера, который требует не только хорошую зарплату, но и интересную работу с возможностью карьерного роста
                                    span
                                        | 04
                                    img(class="lazyload img-fluid" data-src="images/problems4.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="10")
                                    h3
                                        | Одного мало,<br>а двух много
                                    p
                                        | Штатным бухгалтерам трудно обеспечить оптимальную нагрузку. Одного сотрудника вы рискуете перегрузить и получить проблемы с налоговой, а двум будет нечего делать половину рабочего времени
                                    span
                                        | 05
                                    img(class="lazyload img-fluid" data-src="images/problems5.jpg" alt="problems?What!?")
                div(class="problems trust")
                    div(class="container")
                        div(class="row justify-content-center pb-5")
                            div(class="col-12 col-lg-6 problems__first d-flex align-items-start justify-content-center wow bounce" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="10")
                                span
                                    | 5
                                h2(class="")
                                    | причин <span>доверить</span><br>бухгалтерию нам
                        div(class="row justify-content-center pt-5")
                            div(class="col-12 col-lg-4")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="10")
                                    h3
                                        | Платите за фактическую<br>работу
                                    p
                                        | С нами вы оплачиваете фактически выполененный объем работ нашего бухгалтера, а не его время, которое он потратил на просмотр смешных картинок и видео в интернете и разговоры в курилке
                                    span
                                        | 01
                                    img(class="lazyload img-fluid" data-src="images/trust1.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
                                    h3
                                        | Выполняем все,<br>прописанное в договоре
                                    p
                                        | С нами вы больше не будете являться заложником бухгалтера. Мы не уволимся, не уйдём в отпуск или больничный в самый нужный момент и выполним все прописанные в договоре услуги качественно и точно в срок
                                    span
                                        | 02
                                    img(class="lazyload img-fluid" data-src="images/trust2.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5 pt-lg-0")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="0.9s" data-wow-offset="10")
                                    h3
                                        | Топовые специалисты
                                    div(class="problems__description")
                                        p
                                            | Вашу бухгалтерию будут вести топовые специалисты с многолетним опытом и рекомендациями крупных компаний. Мы тщательно отбираем их на многоэтапном собеседовании и оставляем только лучших

                                    span
                                        | 03
                                    img(class="lazyload img-fluid" data-src="images/trust3.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="1.2s" data-wow-offset="10")
                                    h3
                                        | Тарифы для<br>небольших компаний
                                    p
                                        | Мы разработали специальные тарифы  для небольших компаний, чтобы даже молодая организация смогла вести прозрачную бухгалтерию и избежала проблем с налогами, которые будут тянуться за ей не один год
                                    span
                                        | 04
                                    img(class="lazyload img-fluid" data-src="images/trust4.jpg" alt="problems?What!?")
                            div(class="col-12 col-lg-4 pt-5")
                                div(class="problems__item d-flex flex-column align-items-center wow bounceIn" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="10")
                                    h3
                                        | Ответственность<br>лежит на нас
                                    p
                                        | Мы берём на себя ответственность за правильность ведения бухучёта и прописываем это в договоре
                                    span
                                        | 05
                                    img(class="lazyload img-fluid" data-src="images/trust5.jpg" alt="problems?What!?")
                        img(class="lazyload img-fluid women" data-src="images/women.png" alt="not men")
    div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Форма заявки
                div(class="modal-body")
                    form(class="form")
                        input(type="text" placeholder="Имя*")
                        input(type="tel" class="my-4" placeholder="Телефон*")
                        div(class="d-flex align-items-start justify-content-center py-3 pb-4")
                            label(class="m-0")
                                input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
                                span(for="checkbox" class="checkbox__label")
                            p( class="form__info")
                                | Согласен с политикой обработки
                                a(href="#" class="form__info")
                                    | персональных данных
                        div(class="d-flex justify-content-center w-100")
                            button(class="btn btn__flare" type="submit" )
                                | Записаться
    div(class="modal fade" id="modalWrite" tabindex="-1" role="dialog" aria-labelledby="modalCWriteTitle" aria-hidden="true")
        div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
            div(class="modal-content")
                div(class="d-flex justify-content-end")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                            | &times;
                div(class="modal-body")
                    form(class="form")
                        input(type="text" class="mb-4 mt-3" placeholder="Имя*")
                        input(type="tel" class="mb-4" placeholder="Телефон*")
                        div(class="d-flex align-items-start justify-content-center py-3")
                            label(class="m-0")
                                input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
                                span(for="checkbox" class="checkbox__label")
                            p( class="form__info")
                                | Я согласен на обработку персональных данных в соответствие с
                                a(href="#" class="form__info")
                                    | политикой конфиденциальности
                        div(class="d-flex justify-content-center w-100")
                            button(class="btn btn__flare" type="submit" )
                                | Оставить заявку
    div(class="btn_to_top")
        div(class="btn_to_top_content d-flex justify-content-center align-items-center")
            <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
            </g>
            </svg>
    footer(class="footer")
        div(class="container")
            div(class="row justify-content-between")
                div(class="col-lg-5 col-12 d-flex flex-column")
                    span(class="footer__header")
                        | Контакты
                    a(href="tel:+79655382102" class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/fa-solid_phone.svg" alt="img footer")
                        span(class="pl-3")
                            | +7 965 538 21 02
                    a(href="mail:ksenid@rambler.ru" class="my-4 d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/topcoat-email.svg" alt="img footer")
                        span(class="pl-3")
                            | ksenid@rambler.ru
                    div(class="d-flex align-items-center")
                        img(class="lazyload img-fluid" data-src="images/ic-baseline-place.svg" alt="img footer")
                        span(class="pl-3")
                            | 624200, Свердловская область,<br>г. Нижняя Тура, ул. Строителей, д. 10, офис 13
                div(class="col-12 col-lg-3 pt-5 pt-lg-0 px-lg-0")
                    div(class="social d-flex justify-content-end")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/uil-vk.svg" alt="img social")
                        a(href="#" class="mx-4")
                            img(class="lazyload img-fluid" data-src="images/uil-instagram-alt.svg" alt="img social")
                        a(href="#")
                            img(class="lazyload img-fluid" data-src="images/zmdi-twitter-box.svg" alt="img social")
                    a(class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/")
                        span(class="d-block pr-3")
                            | Создание сайта Deksis.ru
                        img(class="lazyload img-fluid" data-src="images/deksis.svg" alt="img")
    script(src="js/main.min.js")

