/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/_animate.css";
@import "library/jquery-ui.css";

@import "reset/_reset";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


// блок / первый экран на стр.
.welcome {
  background: url("../images/welcome.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
  min-height: 600px;
  background-color: $mainBGcolor;
  margin-top: 50px;
  span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    padding: 24px 0;
  }
	&.price {
      background-image: url("../images/price.jpg");
      background-position: center top;
      h1 {
        color: $mainTextColor;
      }
      span {
        color: #303030;
      }
      a {
        display: inline-block;
        width: 270px;
      }
      @media (max-width: 991px) {
        background-position: left top;
      }
	}
  @media (max-width: 991px) {
    background-position: center left;
    margin-top: 0px;
  }
}



// блок / Наши услуги
.services {
  padding: 60px 0;
  .services__item {
    min-height: 280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    background-position: top left;
    background-repeat:  no-repeat;
    background-size: contain;
    .services__wrap {
      padding: 32px 32px 32px 0;
      width: 50%;
      .services__header {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 28px;
        color: $additionalTextColor;
        @media (max-width: 991px) {
          font-size: 2.4rem;
        }
      }
      @media (max-width: 991px) {
        width: 60%;
      }
    }

    &.services__item_1 {
      background-image: url("../images/services1.jpg");
    }
    &.services__item_2 {
      background-image: url("../images/services2.jpg");
    }
    &.services__item_3 {
      background-image: url("../images/services3.jpg");
    }
    &.services__item_4 {
      background-image: url("../images/services4.jpg");
    }
    p {
      padding: 16px 0 24px 0;
    }
    @media (max-width: 400px) {
      background-position: -50% center;
    }
    @media (min-width: 991px) and (max-width: 1200px) {
      background-position: -40% center;
    }
  }
}













// блок / Переложите проблемы с бухгалтерией и налоговой на нас
.shift {
  background: url("../images/xz.jpg") no-repeat;
  background-position: left center;
  min-height: 454px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  h2 {
    text-align: left;
    color: $additionalTextColor;
  }
}





// блок / Как мы работаем
.HowWeAreWorking {
  padding-top: 60px;
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    color: #303030;
    padding-top: 24px;
  }
}








// блок / Блог
.blog {
  padding-top: 60px;
  .blog__item {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    .blog__content {
      padding: 32px 32px 32px 44px;
    }
    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      text-align: left;
      color: #FF7F50;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      padding: 16px 0 23px 0;
    }
    @media (max-width: 991px) {
      img {
        width: 100%;
      }
    }
  }
}








// блок / Наша команда
.team {
  padding: 60px 0;
  .team__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 24px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #303030;
    padding: 24px 0 12px 0;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
  }
}









// блок / Отзывы
.feedback {
  background-color: #F3F3F3;
  padding: 60px 0;
  position: relative;
  .feedback__img_left {
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 1500px) {
      display: none;
    }
  }
  .feedback__img_right {
    position: absolute;
    right: 45px;
    bottom: 100px;
    @media (max-width: 1500px) {
      display: none;
    }
  }
  .carousel-container {
    position:relative;
    width: 100%;
  }
  .carousel-main {
    height:340px;
    width: 100%;
    position:relative;
    margin-bottom:0.5em;
    font-size:12px;
    font-family: Arial;
  }
  .carousel-feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    border-radius:10px;
    cursor:pointer;
    text-align:center;
    box-shadow:0 0 15px 3px rgba(0,0,0,.1);
    background-color:#fff;
    overflow: hidden;
    a{
      font-size:18px;
    }
    img {
      max-width: 540px;
      width: 100%;
    }
  }
  .carousel-image {
    border:0;
    display:block;
  }
  p{
    text-align:center;
  }
  .slider__arrows {
    padding: 0;
    margin: 0;
  }
  #carousel-left {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  #carousel-right {
    position: absolute;
    right: -83px;
    top: 50%;
    transform: translateX(-50%) rotate(180deg);
    cursor: pointer;
  }
  @media (max-width: 1199.98px) {
    .carousel-main {
      height: 340px;
    }
    .carousel-feature {
      img {
        width: 340px;
      }
    }
  }
  .carousel-control-next {
    transform: rotate(180deg);
  }
}
.slidedr {
  position: relative;
  padding: 50px 0;
  .slider__item {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%) scale(0.7);
    z-index: 1;
    max-width: 370px;
    transition: all 0.5s;
    opacity: 0;
  }
  .slider__content {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 32px 70px;
    max-width: 570px;
    height: 100%;
    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: left;
      color: #FF7F50;
    }
    h4 {
      font-size: 16px;
      line-height: 19px;
      color: #FF7F50;
      padding: 12px 0 24px 0;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: #303030;
    }
  }



}
















.problems {
  padding: 60px 0;
  &.problems_bg {
  background-color: #F3F3F3;
}
  .problems__first {
    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 96px;
      line-height: 104px;
      text-align: center;
      color: #303030;
    }
    h2 {
      padding-left: 12px;
      text-align: left;
    }
  }
  .problems__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    min-height: 230px;
    padding-top: 18px;
    padding-bottom: 43px;
    height: 100%;
    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;
      color: #303030;
      padding-bottom: 12px;
      padding-left: 70px;
      padding-right: 70px;
      display: block;
      width: 100%;
      flex-grow: 0;
      min-height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .problems__description {
      flex-grow: 1;
    }
    p {
      font-size: 16px;
      line-height: 120%;
      color: #303030;
      padding: 0 30px;
    }
    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: #FF7F50;
      position: absolute;
      left: 16px; bottom: 7px;
    }
    img {
      position: absolute;
      left: 0; top: 0;
    }
  }
}



.trust {
  background-color: #F3F3F3;
  position: relative;
  .problems__first {
    span {
      color: $additionalTextColor;
    }
    h2 {
      span {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
    }
  }
  .women {
    position: absolute;
    right: 0px; bottom: 0;
    @media (max-width: 1900px) {
      display: none;
    }
  }
}











.breadcrumb_block {
	padding-top: 150px;

	.breadcrumb {
		background: none;
      padding: 0;
	}
	.breadcrumb-item, a {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		&:before {
			color: #000;
		}
	}
}





















.step {
  padding: 60px 0;
  position: relative;
  span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FF7F50;
    display: block;
    padding-bottom: 12px;
  }
  .two_left {
    position: absolute;
	  width: 300px;
    bottom: 0px; left: 0px;
    @media (max-width: 1700px) {
      display: none;
    }
  }
  .Flower {
    position: absolute;
    bottom: 0px; right: 50px;
    @media (max-width: 1700px) {
      display: none;
    }
  }
}











.saving {
  margin-top: 190px;
  padding: 60px 0;
  min-height: 345px;
  position: relative;
  background: linear-gradient(90deg, #F2F2F2 38.02%, #EEEEEE 100%);
  .saving__img {
    position: absolute;
    right: 54%;
    bottom: 0px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .Ellipse {
    position: absolute;
    right: 147px; top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1700px) {
      display: none;
    }
  }
  .saving__header {
    font-family: "Arsenal";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #FF7F50;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    padding: 24px 0 16px 0;
  }
  .saving__name {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    color: #303030;
    display: block;
    padding-bottom: 32px;
  }
  .btn {
    width: 270px;
  }
  @media (max-width: 1300px) {
    margin-top: 60px;
  }
}












.description {
  padding: 60px 0;
}












.accordion {
  .card {
    background: #FFF;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px!important;
    margin-bottom: 32px;
  }
  .card-header {
    background-color: #FFFFFF;
    border:none;
    padding: 40px 70px;
    cursor: pointer;
    @media (max-width: 991px) {
      padding: 10px;
    }
  }
  .card-header {
    .accorarrow {
      transform: rotate(180deg);
      transition: all 0.5s;
    }
    &.collapsed {
      .accorarrow {
        transform: rotate(0deg);
        transition: all 0.5s;
      }
    }
  }
  .accordion__header_img_wrap {
    position: relative;
    .accordion__header_number {
      position: absolute;
      left: 18px; top: 7px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
    }
  }
  .accordion__header_img {
    display: block;
    margin: 0 70px 0 0;
  }
  .accordion__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #303030;
  }
  .card-body {
    padding: 0 200px 32px 200px;
    @media (max-width: 991px) {
      padding: 10px;
    }
  }
}











.welcome__about {
  padding: 160px 0 0 0;
  h1 {
    color: #303030;
  }
  @media (max-width: 991px) {
    padding: 80px 0 0 0;
  }
}












.contacts {
  h1 {
    color: #303030;
  }
  .map {
    &.footer {
      background: #FFFFFF;
      border-radius: 10px 0px 0px 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      padding: 0;
      span {
        color: #303030;
      }
    }
  }
}












.calc__block {
  padding: 60px 0;

  .res_table {
    padding: 20px 0 0 0;
    display: block;
    td {
      width: 200px;
      font-size: 1.4rem;
      text-align: center;
      vertical-align: bottom;
      padding: 10px;
      @media (max-width: 991px) {
        width: auto;
      }
    }
    .res_table_first {
      display: none;
      &.active {
        display: block;
      }
    }
    .res_table_second {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  h1 {
    color: #303030;
    font-size: 3.6rem;
  }
  .calc {

    .calc__wrap {
      padding-left: 8%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      @media (max-width: 991px) {
        padding-left: 0;
      }
    }
    .calc__header {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      padding-bottom: 24px;
      display: block;
    }
    input[type=radio] {
      display: none;
    }
    .calc__name {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      padding-left: 6px;
    }
    .input__radio {
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid $additionalTextColor;
      border-radius: 100%;
    }
    input[type=radio]:checked + .input__radio {
      border: 6px solid $additionalTextColor;
    }


    #count, #count__people {
      float: left;
      clear: left;
      width: 100%;
      margin: 15px 0;
      background-color: #C4C4C4;
      @media (max-width: 991px) {

      }
    }
    #count .ui-slider-range, #count__people .ui-slider-range { background: $additionalTextColor; }
    #swatch {
      width: 120px;
      height: 100px;
      margin-top: 18px;
      margin-left: 350px;
      background-image: none;
    }
    .ui-slider-handle {
      width: 25px;
      height: 25px;
      border: 0;
      background-color: $additionalTextColor;
      border-radius: 100%;
      top: -8px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .ui-widget.ui-widget-content {
      border: unset;
      border-radius: 0;
    }
    .count__digets_wrap {
      position: absolute;
      display: flex;
      bottom: -23px;
      left: 9.2%;
    }
    .count__digets__item {
      font-size: 18px;
      line-height: 21px;
      color: #C4C4C4;
      position: relative;
      padding-top: 10px;
      @media (max-width: 991px) {
        font-size: 14px;
      }
      span {
        display: block;
        position: absolute;
        width: 3px;
        height: 8px;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #C4C4C4;
      }
      &.active {
        color: $additionalTextColor;
        span {
          background-color: $additionalTextColor;
        }
      }
    }
    #count__first_input, #count__second_input {
        display: none;
    }
  }
  .count__first, .count__second {
    .count__digets_wrap:nth-child(1) {
      left: 7.7%;
      @media (max-width: 991px) {
        left: -0.5%;
      }
    }
    .count__digets_wrap:nth-child(2) {
      left: 20.7%;
      @media (max-width: 991px) {
        left: 13.7%;
      }
    }
    .count__digets_wrap:nth-child(3) {
      left: 33.8%;
      @media (max-width: 991px) {
        left: 28%;
      }
    }
    .count__digets_wrap:nth-child(4) {
      left: 47%;
      @media (max-width: 991px) {
        left: 42.5%;
      }
    }
    .count__digets_wrap:nth-child(5) {
      left: 59.6%;
      @media (max-width: 991px) {
        left: 56%;
      }
    }
    .count__digets_wrap:nth-child(6) {
      left: 73%;
      @media (max-width: 991px) {
        left: 70%;
      }
    }
    .count__digets_wrap:nth-child(7) {
      left: 86%;
      @media (max-width: 991px) {
        left: 84%;
      }
    }
    .count__digets_wrap:nth-child(8) {
      left: 98.3%;
      @media (max-width: 475px) {
        left: 96%;
      }
      @media (min-width: 475px) and (max-width: 575px) {
        left: 97%;
      }
      @media (min-width: 575px) and (max-width: 767px) {
        left: 97.3%;
      }
      @media (min-width: 767px) and (max-width: 991px) {
        left: 98.1%;
      }
      @media (min-width: 990.98px) and (max-width: 1199px) {
        left: 98%;
      }
      .fix {
        opacity: 0;
      }


    }
  }

  .nav-link {
    font-size: 1.8rem;
  }
  .tab-content {
    min-height: 300px;
    h2 {
      font-size: 1.8rem;
    }
    span {
      font-size: 1.6rem;
    }
    .tab-content__p {
      font-size: 1.2rem;
    }
    .tab-content_rub {
      position: relative;
      &:before {
        position: absolute;
        display: block;
        z-index: 1;
        right: -5%;
        bottom: 10%;
        font-size: 1.6rem;
        content: "руб."
      }
    }
    .item__first {
      width: 40%;
    }
    .tab-content__header {
      font-size: 2.6rem;
      display: block;
      text-align: center;
      padding: 30px 0;
    }
  }
}



.price__final {
  display: flex;
  align-items: center;
  .price__final__header {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    display: block;
  }
  .price__final__digest {
    display: block;
    margin-left: 30px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #DC143C;
  }
}




.blog {
  h1 {
    color: #303030;
  }
  .blog__img_float {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  h2 {
    color: $additionalTextColor;
  }
}

.row__kv {
  display: none;
  &.active {
    display: table-row;
  }
}